
{% extends 'base.html' %}

{% load static %}

{% block navigation %}


   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
     <p><a href="{% url 'formUpload' %}">Upload file by form</a></p>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %}
{% endblock %}


{% block content %}
 <h2>Form Upload</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  <p><a href="{% url 'home' %}">Return to home</a></p>

{% endblock %}
