 {% extends 'base.html' %} {% load static %} {% block navigation %} {% if user.is_authenticated %}
<li>User: {{ user.get_username }}</li>
<li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
<p><a href="{% url 'formUpload' %}">Upload file by form</a></p>
{% else %}
<li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
{% endif %} {% endblock %} {% block content %}
<article>
    {% if user.is_authenticated %}
    <h2>All your file</h2>
    <table class='table' style="width:100%">
        <thead>
            <tr>
                <th> file id</th>
                <th> file size</th>
                <th> count remaining</th>
                <th> time remaining</th>
                <th> link </th>
                <th> preview </th>
            </tr>
        </thead>
        <tbody>
            {% for file, remaining_time in list %}
            <tr>
                <th> {{ file.file_id}}</th>
                <th> {{ file.file_size}}</th>
                <th> {{ file.view_count}}</th>
                <th> {{ remaining_time }}</th>
                <th> 
                {% if file.file_format == 'other' %}
                    <a href="{{file.share_url}}" class="btn btn-primary btn-sm"> download file </a>
                {% else %}
                    <a href="{{file.share_url}}" class="btn btn-primary btn-sm"> download image </a>
                {% endif %}
                </th>
                {% if file.file_format == 'other' %}
                    <th>{{ file.file_description}}</th>
                {% else %}
                    <th><img src={{file.file_entity.url}} alt="{{doc.description}}" height="50" width="50"></th>
                {% endif %}
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1>Home</h1>
    <p>This is the home page of this file server project.</p>
    <p>This project project is built by Django, a lightweight website build framework.</p>
    <p>The purpose of this project is to learn the Django framework, as well as to understand all the process to build a webapplication.</p>
    <p> Please login with your username and password, if you don't have a password, pelase creat your own credentials by the left login link.</p>
    <p>After login, you will say all the files you have uploaded.</p>
    {% endif %}
</article>

{% endblock %}