<!DOCTYPE html>
<html lang="en">
<head>
<title>FTP Main Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #245;
  padding: 1px;
  text-align: center;
  font-size: 15px;
  color: blue;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  background: #AAA;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color: #f1f1f1;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
</head>
<body>
<header>
  <h2>Django File Server</h2>
  <h5>ECE563 Cloud Computing Project</h3>
  <h6>Binwu Peng, Ting Chen</h3>
</header>

<section>
  <nav>
    <ul>
      <li><a href="{% url 'password_reset' %}">Lost password?</a></li>
      <li><a href="{% url 'newUser' %}">New User</a></li>
    </ul>
  </nav>
  
  <article>
   	{% block content %}
  	<h2>Sign up</h2>
  	<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  	</form>
	{% endblock %}
  </article>
</section>

<footer>
  <p>Usefull links</p>
  <a href="https://www.google.com/">Google</a>
  <a href="https://www.duke.edu/">Duke</a>
</footer>

</body>
</html>
