<head>
	<style>
	li a {
	    color: green;
	}
	</style>
</head>

<body>

{% if doc %}
	<h1>{{doc.file_description}}</h1>
	<ul>

	    <li><label>Image Description: </label>{{doc.file_description}}</li>
	    <li><label>Image format: </label>{{doc.file_format}}</li>
	    <li><label>Image uploaded by: </label>{{doc.user_id}}</li>
	    <li><label>Upload date: </label>{{doc.time_stamp}}</li>
	    <li><label>Expiration date: </label>{{doc.expiry}}</li>
	    <li><label>View count remaining: </label>{{doc.view_count}}</li>

	</ul>
	<img src={{doc.file_entity.url}} alt="Shared Image">
{% else %}
    <p>No results for query5 are available.</p>
{% endif %}

</body>