 <!DOCTYPE html>
<html lang="en">
<head>
<title>Thumbnails page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #245;
  padding: 1px;
  text-align: center;
  font-size: 15px;
  color: blue;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  /* height: 300px; only for demonstration, should be removed */
  background: #AAA;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color: #f1f1f1;
  /* height: 300px; only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

  table, th, td {
  border: 1px solid black;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
</head>

<body>

{% if docs %}
  <ul>
    {% for doc in docs %}
    <label>Expiration date: {{doc.expiry}}</label>
    <li>
        
    </li>
    {% endfor %}
  </ul>
  
{% else %}
    <p>No results for this user.</p>
{% endif %}
</body>
</html>

