
{% extends 'base.html' %}

{% load static %}

{% block navigation %}


   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
     <p><a href="{% url 'formUpload' %}">Upload file by form</a></p>
     <p><a href="{% url 'upload' %}">Simple upload file</a></p>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %}
{% endblock %}


{% block content %}
<h2>type you email address, a password reset link will sent to you directly</h2>
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
<p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
